-# Partial form for Rental Applications. Changing this will update both the 
-# new rent app form and the edit rent app form.

= label :rent_app, :some_column, 'Fill in rent_app_form'
= text_field :rent_app, 'some stuff'
