-# Partial form for Rental Applications. Changing this will update both the 
-# new rent app form and the edit rent app form.

= label :rent_app, :building_id, 'Building:'
%div.form-control
    = collection_select :rent_app, :building_id, Building.all, :id, :street_addr
