.container.text-center
    %h1 Buildings

.container
    .row
        - @buildings.each_slice do |building|
            .col-md-4
                .panel.panel-primary{:style => "width: 18rem;"}
                    .panel-body
                        %img.img-responsive{:src => "apartment1.jpg"}
                        %h5= building.name
                        %p= building.street_addr
                        = link_to 'Show Apartments', apartment_path(building)