%div.container.text-center
    %h1.heading{:style => "font-size: 150px;"} About Us
    %div.text-box{:style => "font-size: 60px;"} Address:&nbsp;170 Bogus Lane
    %div.text-box{:style => "font-size: 60px;"} Phone:&nbsp;(123)&nbsp;456-7890
    %div.text-box{:style => "font-size: 60px;"} E-Mail:&nbsp;1234@email.com