.container.text-center
    %h1 All Apartments

.container
    .row
        - @buildings.each do |building|
            .col-md-4
                .panel.panel-primary{:style => "width: 18rem;"}
                    .panel-body
                        %h5= building.name
                        = link_to 'Show Apartments', apartments_path(building)
        /%tbody
        /- @apartments.where(building_id: building).each do |apartment|
        /    %tr
        /        %td.aptNum= apartment.number
        /    %tr
        /        %td.aptAvail= apartment.availability
        /    %tr
        /        %td.buildingStreetAddr= building.street_addr
                
