%h1 Apartments


%h1 All Apartments

%table#apartments{:class => 'table'}
    %thead
        %tr
            %th number
            %th availability
    %tbody
        - @apartments.each do |apartment|
            %tr
                %td= apartment.number
                %td= apartment.availability