.container.text-center
    %h1 All Apartments

- @buildings.each do |building|
    %table.table
        %thead
            %tr
                %th= building.name
        %tbody
        - @apartments.where(building_id: building).each do |apartment|
            %tr
                %td= apartment.number
            %tr
                %td= apartment.availability
            %tr
                %td= building.street_addr
                
