.container.text-center
    %h1 All Apartments

%table#apartments.table
    %thead
        %tr
            %th number
            %th availability
    %tbody
        - @apartments.each do |apartment|
            %tr
                %td= apartment.number
                %td= apartment.availability