.container.text-center
    %h1 New Apartment
%div.form-control    
    = form_tag apartments_new_path, :method => :post do
        = text_field_tag "number", ""
        = check_box_tag "availability"
        = submit_tag "Submit"