<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %></p>
  <%= link_to 'Sign_out [click to Sign_out]', destroy_user_session_path, :method => :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Sign_in', new_user_session_path %>
<% end %>